/* stylelint-disable */

/* noinspection CssInvalidAtRule */
@tailwind base;
/* noinspection CssInvalidAtRule */
@tailwind components;
/* noinspection CssInvalidAtRule */
@tailwind utilities;

html, body, #main {
    /* noinspection CssInvalidAtRule */
    @apply min-h-screen;
}

/* stylelint-enable */

@layer base {
    @font-face {
        font-family: Inter;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/inter_variable.woff2") format("woff2");
    }

    @font-face {
        font-family: Inter;
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/inter_variable_italic.woff2") format("woff2");
    }
}
